<!doctype html>

<html
  lang="tr" class="system-style layout-menu-fixed layout-compact dark-style" dir="ltr"  data-theme="theme-default" data-assets-path="./assets/" data-template="dark-horizontal-menu-template">
  
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Elchavopy Token Activator</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="./assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&ampdisplay=swap"
      rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="./assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="./assets/vendor/fonts/tabler-icons.css" />
    <link rel="stylesheet" href="./assets/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="./assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="./assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="./assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="./assets/vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="./assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="./assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="./assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="./assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="./assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" />
    <link rel="stylesheet" href="./assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="./assets/vendor/libs/@form-validation/form-validation.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="./assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="./assets/vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="./assets/js/config.js"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">
      <div class="layout-container">
        <!-- Navbar -->

        <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
          <div class="container-xxl">
            <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
              <a href="/" class="app-brand-link gap-2">
                <span class="app-brand-logo demo">
                  <img src="./assets/img/branding/logo.png" alt="Elchavopy" class="logo-img" width='47' height='47' />
                </span>
                <span class="app-brand-text demo menu-text fw-bold">Token Activator With Elchavopy</span>
              </a>

              <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
                <i class="ti ti-x ti-sm align-middle"></i>
              </a>
            </div>

            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="ti ti-menu-2 ti-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <ul class="navbar-nav flex-row align-items-center ms-auto">
                
               
              </ul>
            </div>

            <!-- Search Small Screens -->
           
          </div>
        </nav>

        <!-- / Navbar -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Menu -->
            <aside id="layout-menu" class="layout-menu-horizontal menu-horizontal menu bg-menu-theme flex-grow-0">
              <div class="container-xxl d-flex h-100">
                <ul class="menu-inner">
                  <!-- Dashboards -->
                  <li class="menu-item">
                    <a href="/" class="menu-link">
                      <i class="menu-icon tf-icons ti ti-home"></i>
                      <div >Ana Sayfa</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="/dashboard" class="menu-link">
                      <i class="menu-icon tf-icons ti ti-settings"></i>
                      <div >Tokenlerim</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="/logout" class="menu-link">
                      <i class="menu-icon tf-icons ti ti-logout"></i>
                      <div >Çıkış Yap</div>
                    </a>
                  </li>
                  </li>
                </ul>
              </div>
            </aside>
            <!-- / Menu -->

            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="card">
                <div class="card-header border-bottom">
                  <div class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0">
                    <div class="col-md-4 user_role"></div>
                    <div class="col-md-4 user_plan"></div>
                    <div class="col-md-4 user_status"><button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#kayıAç">Token Ekle</button> </div>
                  </div>  
                </div>


                <div class="modal fade" id="kayıAç" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Kullanıcı Ekle</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">

                            <form id="kayıtForm" method="POST" action="/api/saveusers">
                              <div class="mb-3">
                                  <label for="newtoken" class="form-label">Kullanıcı Token</label>
                                  <input type="text" class="form-control" id="newtoken" name="newtoken" required>
                              </div>
                              <div class="mb-3">
                                <label for="newguildID" class="form-label">Sunucu ID</label>
                                <input type="text" class="form-control" id="newguildID" name="newguildID" required>
                            </div>
                              <div class="mb-3">
                                  <label for="newchannelID" class="form-label">Kanal ID</label>
                                  <input type="text" class="form-control" id="newchannelID" name="newchannelID" required>
                              </div>
                              
                              <div class="mb-3">
                                  <label for="newStatus" class="form-label">Token Durum</label>
                                  <input type="text" class="form-control" id="newStatus" name="newStatus">
                              </div>
                              <div class="mb-3">
                                  <label for="newActivities" class="form-label">Token Aktivite</label>
                                  <input type="text" class="form-control" id="newActivities" name="newActivities" required>
                              </div>
                              <input type="hidden" name="emailmiş" value="<%= data.email %>" disabled>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                          </form>


                          </div>
                      </div>
                  </div>
              </div>

                
                <div class="card-datatable table-responsive">
                  <table class="datatables-users table">
                    <thead class="border-top">
                      <tr>
                        <th>Kullanıcı Adı</th>
                        <th>Sunucu ID</th>
                        <th>Kanal ID</th>
                        <th>Durum</th>
                        <th>Aktivite</th>
                        <th>Düzenle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% data.botTokens.forEach(token => { %>
                        <tr>
                            <td><%= data.username %></td>
                            <td><%= token.serverId %></td>
                            <td><%= token.channelId %></td>
                            <td><%= token.statusText %></td>
                            <td><%= token.activitiesText %></td>
                            <td><button class="btn btn-primary">Token Düzenle</button> <button class="btn btn-danger">Sil</button></td>
                        </tr>
                    <% }) %>
                    </tbody>
                  </table>
                </div>

                <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="editModalLabel">Kullanıcı Bilgilerini Düzenle</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form id="editForm">
                              <div class="mb-3">
                                  <label for="email" class="form-label">E-posta</label>
                                  <input type="email" class="form-control" id="email" name="email" required readonly>
                                  <input type="hidden" id="atatürk" name="atatürk">
                              </div>
                              <div class="mb-3">
                                  <label for="role" class="form-label">Rol</label>
                                  <input type="text" class="form-control" id="role" name="role" required>
                              </div>
                              <div class="mb-3">
                                  <label for="current_plan" class="form-label">Plan</label>
                                  <input type="text" class="form-control" id="current_plan" name="current_plan">
                              </div>
                              <div class="mb-3">
                                  <label for="server" class="form-label">Sunucu</label>
                                  <input type="text" class="form-control" id="server" name="server">
                              </div>
                              <div class="mb-3">
                                  <label for="status" class="form-label">Durum</label>
                                  <input type="number" class="form-control" id="status" name="status" required>
                              </div>
                              <button type="submit" class="btn btn-primary">Kaydet</button>
                          </form>
                          
                          </div>
                      </div>
                  </div>
              </div>




              </div>
            </div>
            <!--/ Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl">
                <div
                  class="footer-container d-flex align-items-center justify-content-between py-2 flex-md-row flex-column">
                  <div>
                    ©
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    , made with ❤️ by
                    <a href="https://sectwist.site" target="_blank" class="footer-link text-primary fw-medium"
                      >Elchavopy</a
                    >
                  </div>
                </div>
              </div>
            </footer>
          
            <div class="content-backdrop fade"></div>
          </div>
        
        </div>

      </div>
    </div>

    <div class="layout-overlay layout-menu-toggle"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  
    <script src="./assets/vendor/libs/jquery/jquery.js"></script>
    <script src="./assets/vendor/libs/popper/popper.js"></script>
    <script src="./assets/vendor/js/bootstrap.js"></script>
    <script src="./assets/vendor/libs/node-waves/node-waves.js"></script>
    <script src="./assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="./assets/vendor/libs/hammer/hammer.js"></script>
    <script src="./assets/vendor/libs/i18n/i18n.js"></script>
    <script src="./assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="./assets/vendor/js/menu.js"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="./assets/vendor/libs/moment/moment.js"></script>
    <script src="./assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="./assets/vendor/libs/select2/select2.js"></script>
    <script src="./assets/vendor/libs/@form-validation/popular.js"></script>
    <script src="./assets/vendor/libs/@form-validation/bootstrap5.js"></script>
    <script src="./assets/vendor/libs/@form-validation/auto-focus.js"></script>
    <script src="./assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="./assets/vendor/libs/cleavejs/cleave-phone.js"></script>

    <!-- Main JS -->
    <script src="./assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="./assets/js/app-user-list.js"></script>
  </body>
</html>
